# Import relevant libraries

In [1]:
import pandas as pd
import numpy as np

# Import dataframe from adult.data.csv

In [10]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# How many of each race are represented in this dataset? Return a pd.Series.

In [11]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

# What is the average age of men?

In [12]:
average_age_men = round(df.loc[df['sex'] == 'Male', 'age'].mean(),1)
average_age_men

39.4

# What percentage of people have a Bsc?

In [13]:
percentage_bachelors = round((df.loc[df['education'] == 'Bachelors'].shape[0]) / (df.shape[0]) *100,1)
percentage_bachelors

16.4

# What percentage of people with advanced education(BSc, Masters, Doctorate) make more than 50K?

In [16]:
#how many people have higher education?
higher_education = df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')].shape[0]
higher_education

7491

In [17]:
#how many people have lower education?
lower_education = df.loc[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')].shape[0]
lower_education

25070

In [18]:
# % of educated with high salary
higher_education_rich = round(df.loc[((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')) & (df['salary'] == '>50K')].shape[0]/ higher_education *100,1)
higher_education_rich

46.5

In [19]:
# % of non_educated with high salary
lower_education_rich = round(df.loc[((df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')) & (df['salary'] == '>50K')].shape[0]/ lower_education *100,1)
lower_education_rich

17.4

# What is the minimum work hours per week?

In [21]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

# Percentage of people who work minimum hours have a high salary?

In [22]:
#number of people who work minimum hours
num_min_workers = df.loc[df['hours-per-week'] == df['hours-per-week'].min()].shape[0]
num_min_workers

20

In [23]:
#% of num_min_workers with high salary
rich_percentage = df.loc[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K') ].shape[0] / df.loc[df['hours-per-week'] == df['hours-per-week'].min()].shape[0]*100
rich_percentage

10.0

# What country has the highest percentage of people with high salary?

In [24]:
highest_earning_country = (df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts() *100).idxmax()
highest_earning_country

'Iran'

In [25]:
# % of people with high salary in Iran
highest_earning_country_percentage = round(df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts() *100,1).max()
highest_earning_country_percentage

41.9

# What is the most popular occupation for those who earn >50K in India?

In [27]:
top_IN_occupation = df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K'), 'occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'